/* src/components/IngredientGroup.css */
.ig-group {
    margin-top: 20px;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #fffaf2;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.160);
    margin-bottom: 40px;
    color: #333;
  }

  .ig-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  .ig-group h2 {
      font-size: 1.4em;
      margin: 0;
      text-transform: uppercase;
  }

  .ig-serving-control {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #0a7323;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
  }

  .ig-serving-control p
  {
    font-size: 1em;
  }

  .ig-serving-control button {
    background: white;
    color: #000000;
    border: none;
    font-weight: bold;
    font-size: larger;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 50%;
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  }
  .ig-serving-control button:hover {
      background-color: #eee;
      border-color: transparent;
  }
  .ig-serving-count {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
  }
  .ig-ingredient-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
  }