/* src/components/RecipeCard.css */

.rc-card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 7px 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.078);
}

.rc-checkbox-div {
  margin-right: 10px;
}

.rc-checkbox {
  width: 20px;
  height: 20px;
}

.rc-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.rc-info {
  flex-grow: 1;
}

.rc-title {
  margin: 4px 0;
  font-size: 1.2rem;
  color: #333;
}

.rc-warning { /* This style is for the warning text if you choose to display it */
  font-size: 0.8rem;
  color: #dc3545;
  margin-top: 2px;
}

.rc-author { /* Added for displaying author, if you use this in RecipeCard.jsx */
  font-size: 0.8rem;
  color: #666; /* A softer color for author name */
  margin-top: 2px;
  font-style: italic;
}

.rc-actions {
  margin-top: 6px;
  display: flex;
  gap: 15px;
}

.rc-view-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #0c7300;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-transform: uppercase;
}

.rc-view-btn:hover {
  transform: scale(1.1);
}

.rc-delete-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #a40000;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-transform: uppercase;
}

.rc-delete-btn:hover {
  transform: scale(1.1);
}