/* Styles for the RecipeList component */

/* Container for the list of recipes */
.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px 40px;
  padding: 80px;
  justify-items: center;
}

/* Individual recipe box */
.recipe-box {
  background-color: #2c472e;
  border-radius: 10px;
  width: 100%;
  margin: 20px 20px;
  padding-top: 100px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  position: relative;
  overflow: visible;
}

.recipe-box:hover {
  transform: scale(1.1);
}


/* Addbox styling */
.addbox
{
  background-color: #e9dbd2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/Add.png");

  background-size: 25%;
  border: 2px solid #000000;
  padding: 90px;
}


/* Image styling for recipe box */
.recipe-box img {
  width: 90%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  background-color: white;
}

/* Details section in recipe box */
.recipe-details {
  padding: 15px 15px;
  height: 100px;
}

.recipe-details h3 {
  margin: 0;
  font-size: 18px;
}

.recipe-details .author {
  font-size: 14px;
  color: rgb(255, 232, 98);
  margin: 4px 0;
}

.recipe-details .desc {
  font-size: 14px;
  color: #4b5563;
}
.horizontal-recipes .recipes-container{
  display: flex !important;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  justify-content: center;
  align-items: flex-start;
}