/* Styles for the Explore page */
.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #658c79;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
