.profile-full {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', sans-serif;
}

.profile-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.profile-flex {
  display: flex;
  gap: 40px;
  padding: 0 10px;
  justify-content: space-between;
}

.profile-left {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.upload-btn {
  background-color: #00517C;
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: transform 0.2s ease;
}

.upload-btn button:hover
{
  transform: scale(1.1);
}

.allergy-section {
  text-align: center;
  margin-top: 10px;
}

.allergy-section h4 {
  font-size: 14px;
  margin-bottom: 20px;
}

.allergy-section input
{
  padding: 10px;
}

.profile-right {
  flex: 2;
}

.profile-right label
{
  text-transform: uppercase;
  text-decoration: underline;
}

.profile-right label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.allergy-section h4
{
  text-transform: uppercase;
  text-decoration: underline;
}

.input {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fffaf2;
  color: rgb(0, 0, 0);
}

.input::placeholder {
  color: #ccc;
}

.readonly {
  background-color: rgba(255, 255, 255, 0.272);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.update-btn {
  margin-top: 20px;
  background-color: #00517C;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  transition: transform 0.2s ease;

  text-transform: uppercase;
}

.update-btn:hover {
  transform: scale(1.1);
}

.allergy-row {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.add-btn, .remove-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 12px 12px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-transform: uppercase;
}

.add-btn {
  background-color: #000000;
  margin-top: 20px;
}

.add-btn:hover {
  transform: scale(1.1);
}

.remove-btn:hover {
  transform: scale(1.1);
}


